apiVersion: 1

providers:
- name: 'Promon prometheus'
  orgId: 1
  folder: 'Promon'
  folderUid: 'promon'
  type: file
  disableDeletion: false
  editable: false
  updateIntervalSeconds: 15
  options:
    path: /var/lib/grafana/dashboards
